* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.header {
    background-color: rgb(227 9 22);
    background-image: url(img/background\ image\ of\ netflix.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1820px, 100vw);
    width: 100%;
    height: 90vh;
    margin: auto;
    position: relative;

}

.header .box {
    margin: auto;
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    width: 100vw;
    padding: 25px;
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {

    width: 180px;
    position: relative;
    z-index: 20;
}

.btn {

    padding: 2px;
    font-size: 20px;
    position: relative;
    z-index: 10;
}

.btn1 {
    display: flex;
    gap: 15px;
}

.btn1 .eng {
    gap: 5px;
    padding: 3px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 5px;

}

.eng img {

    width: 10px;
    padding: 5px;
}

.btn1 .sign {
    padding: 9px 15px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid red;
    border-radius: 7px;
}

.main {
    width: 90vw;
    height: calc(100% - 230px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 10;
    position: relative;
    gap: 25px;
    padding: 30px;
    font-family: sans-serif;
}

span:nth-child(1) {
    max-width: 35vw;
    font-size: 70px;
    text-align: center;
    font-weight: 900;
}

span:nth-child(2) {
    font-size: 26px;
    text-align: center;
}

span:nth-child(3) {
    font-size: 22px;
    text-align: center;
}

.main-button {
    display: flex;
    gap: 10px;
}

.main input {
    font-size: 18px;
    border-radius: 5px;
    padding: 15px 180px 15px 18px;
    border: 1px solid gray;
    background-color: rgba(26, 25, 25, 0.688);
}

.main-button button {
    border: 1px solid red;
    font-size: 30px;
    padding: 15px 25px 15px 25px;
    background-color: red;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 500px;
}

.main-button button svg {
    width: 40px;
    filter: invert(1);
}


.separation {
    border: none;
    border-start-start-radius: 100% 100%;
    border-start-end-radius: 100% 100%;
    /* border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%; */
    margin: auto;
    width: 100vw;
    height: 4px;
    background-color: rgb(227 9 22);

}

.first {
    position: relative;
    max-width: 95vw;
    margin: auto;
    
}

.first p {
    margin: 30px;
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
}

.ul {
    max-width: 80vw;
    width: 90vw;
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: auto;

}


.next {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 220px;
    right: 50px;
    position: absolute;
    width: 25px;
    height: 150px;
    border: none;
    padding: 2px;
    background-color: rgba(51, 51, 51, 1);
}

.next:hover {
    background-color: rgb(92, 92, 92);
    padding: 3px;

}

.next svg {
    filter: invert(1);
    width: 30px;
}
.first .ul ul {
    display: flex;
    width: 100vw;
    max-width: 90vw;
    align-items: center;
}

.first ul li img {
    transform: scale(1, 1);
    transition: transform .05s ease;
    background-color: black;
    padding: 30px;
    border-radius: 40px;
    width: 200px;
    border: 1px solid black;
}

.kapil:hover img {
    transform: scale(1.1, 1.1);
}

.Jaat:hover img {
    transform: scale(1.1, 1.1);
}

.Hit:hover img {
    transform: scale(1.1, 1.1);
}

.Rana:hover img {
    transform: scale(1.1, 1.1);
}

.royal:hover img {
    transform: scale(1.1, 1.1);
}

.Chhaava:hover img {
    transform: scale(1.1, 1.1);
}

.squid:hover img {
    transform: scale(1.1, 1.1);
}

.Retro:hover img {
    transform: scale(1.1, 1.1);
}

.Skinder:hover img {
    transform: scale(1.1, 1.1);
}

.pushpa:hover img {
    transform: scale(1.1, 1.1);
}

.second {
    max-width: 80vw;
    margin: auto;
}

.more p {
    margin-left: 30px;
    font-size: 30px;
    color: white;
}

.info {
    justify-content: center;
    display: flex;
    margin: 30px 0;
    padding: 20px;
    gap: 8px;
}

.info h2 {
    font-size: 28px;
    padding: 20px;

}

.info p {
    font-size: 18px;
    padding: 20px;
}



.boxes {
    border-radius: 10px;
    border: 1px solid rgb(33, 14, 47);
            background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    max-width: 19vw;
    margin: 0px 15px;
    color: white;
    font-family: sans-serif;
    height: 320px;
    position: relative;

}
.boxes svg{
    position: absolute;
    right: 25px;
    bottom: -10px;
}

.third {

    max-width: 82vw;
    margin: auto;
}

.question {
    font-family: sans-serif;
    color: white;
    margin: 60px 0;
}

.fre h2 {
    padding: 20px;
    font-size: 30px;

}

.fre>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.frebox {
    background-color: rgb(45, 45, 45);
    padding: 22px;
    font-size: 31px;
    display: flex;
    width: 80vw;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border: none;

}

.frebox:hover {
    transition: all 1s ease-out;
    background-color: #414141;
    color: white;
}

.frebox svg {
    filter: invert(1);
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.four-text {
    display: flex;
    gap: 10px;
}

.four-email p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    color: white;
}

.four input {
    font-size: 18px;
    border-radius: 5px;
    padding: 15px 450px 15px 18px;
    border: 1px solid gray;
    background-color: rgba(26, 25, 25, 0.688);
}

.four-text button {
    border: 1px solid red;
    font-size: 30px;
    padding: 15px 25px 15px 25px;
    background-color: red;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 500px;
}

.four-text button svg {
    filter: invert(1);
}

.grids {
    margin: 20px 220px 50px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.call {
    margin: 60px 220px 0px 140px;
}

.call p {
    color: #8f8d8d;
    font-size: 20px;
    padding: 20px 0px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 23px;
}


.grid a {
    color: #8f8d8d;
    font-size: 14px;
}

footer {
    height: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 60px 220px 0px 140px;
}

.last .eng {
    padding: 3px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 5px;

}

.Netflix {
    color: #8f8d8d;
    font-size: 16px;
    padding: 60px 0px;
}

.foot p {
    color: #8f8d8d;
}

@media screen and (max-width: 1600px) {

    span:nth-child(1) {
        font-size: 50px;
    }

    span:nth-child(2) {
        font-size: 20px;
    }

    span:nth-child(3) {
        font-size: 18px;
    }

    .main-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .boxes {
        position: relative;
        max-width: 70vw;
        height: 200px;
        margin: auto;
    }

    .boxes svg{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 10%;
    height: 40%;
}

.box1,.box2,.box3,.box4{
    width: 100%;

}

}

@media screen and (max-width: 1460px) {
    .first ul li img {
        width: 200px;

    }

    span:nth-child(1) {
        font-size: 35px;
    }

    span:nth-child(2) {
        font-size: 17px;
    }

    span:nth-child(3) {
        font-size: 15px;
    }

    .main-button {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px 0;

    }

    .boxes {
position: relative;
        max-width: 90vw;
        height: 200px;
    }

      .boxes svg{
    position: absolute;
    right: -20px;
    bottom: 0px;
    width: 20%;
    height: 40%;
}

    .third {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 82vw;
        margin: auto;

    }

    .question {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0px 0px 0px;
    }


    .next {

        top: 140px;
        right: 10px;
        width: 20px;
        height: 130px;

    }
}

@media screen and (max-width: 930px) {

    nav img {
        width: 140px;
    }

    .btn1 .eng {
        font-size: 15px;

    }

    .first ul li img {
        width: 150px;

    }

    .eng img {

        width: 9px;
        padding: 5px;
    }

    .btn1 .sign {
        font-size: 15px;
    }

    .first ul li img {
        width: 150px;

    }


    .next {

        top: 140px;
        right: 10px;
        width: 20px;
        height: 130px;

    }

    span:nth-child(1) {
        font-size: 30px;
    }

    span:nth-child(2) {
        max-width: 90vw;
        font-size: 22px;
    }

    span:nth-child(3) {
        font-size: 22px;
    }

    .main-button {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main-button button {
        font-size: 20px;
        padding: 5px 15px 5px 15px;
    }

    .main-button button img {
        width: 30px;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
    }

    .boxes {

        max-width: 70vw;
        height: 240px;
    }

      .boxes svg{
    position: absolute;
    right: 10px;
    bottom: 0px;
    width: 20%;
    height: 40%;
}


    .fre {
        max-width: 90vw;
        margin: auto;
    }

    .frebox {

        width: 70vw;

    }

    .four {
        max-width: 50vw;
        margin: auto;
    }

    .four-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .four-text button {
        font-size: 20px;
        padding: 5px 15px 5px 15px;
    }

    .four-text button img {
        width: 30px;
    }

    .four input {
        padding: 15px 250px 15px 18px;

    }

}


@media screen and (max-width: 500px) {

    .header {

        width: 120%;
    }

    nav {
        max-width: 100vw;
        gap: 30px;
        padding: 30px 0px 0px 0px;
        margin: 0px 0px 0px 40px;
    }

        .btn1 .eng {
            display: flex;
            align-items: center;
            justify-self: center;
        font-size: 15px;
        padding:5px;
    }

    .main {
        max-width: 80vw;
        margin: auto;
    }

    span:nth-child(1) {
        font-size: 27px;
        max-width: 90vw;
    }

    span:nth-child(2) {
        font-size: 19px;
        max-width: 90vw;
    }

    span:nth-child(3) {
        font-size: 18px;
        max-width: 90vh;

    }

    .main input {
    padding: 15px 120px 15px 18px;
   
}


    .separation {
        width: 120%;
    }

    .first p {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .first .ul {
        margin-top: 0px;

    }

    .first .ul ul {
        width: 90vw;
    }

    .first ul li img {
        width: 110px;
        padding: 20px;

    }

    .next {
        top: 75px;
        right: -50px;
        width: 20px;
        height: 115px;
    }

    .second {
    max-width: 99vw;
    margin: auto;
}
    .more p {
   
    font-size: 25px;
    
}
.info{
    margin-left: 70px;
}

    .boxes {
        width: 99vw;
        max-width: 99vw;
        height: 240px;
    }

        .question {
        margin: 0px 0px 0px 0px;
    }

    .fre h2 {
    font-size: 20px;
}

    .frebox {
        width: 96vw;
        font-size: 20px;
    }
    .frebox img {
    width: 30px;
}

    .four {
        max-width: 100vw;
        margin: auto;
    }

.four-email p {
    font-size: 18px;
    max-width: 99vw;
    margin-left: 50px;
}

.four input {
        padding: 15px 170px 15px 18px;
        margin-left: 55px;
    }

    .four-text button {
        margin-left: 50px;
    }

    .call{
        margin: 40px 0px 0px 60px ;
    }

    .grids {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr ;
}

footer {
    margin: 0px 0px 0px 50px
}
}





